*{
    margin: 0%;
    padding: 0%;
    font-family: 'Shantell Sans', cursive;
 }


 .main{
    display: flex;
    
 }
 .main .left{
    
    background-color: rgb(115, 1, 92);
 }
 .main .left nav img{
    width: 320px;
    height: 230px;
    margin-left: 1px;
   
 }
 .main .left nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
 }
 .left nav .sign{
    width: 110px;
    height: 36px;
    background-color: rgb(67, 2, 43);
 }
    


 
.main .main-img{
    width: 530px;
    margin-left: 63px;
}
.main .left .txt{
    margin-left: 63px;
    margin-top: 77px;
    color: white;
}
.left .txt h1{
    font-size: 43px;
}
.left .txt p{
    margin-top: 22px;
    font-size: 22px;
}
.left .txt .inp{
    display: flex;
    margin-top: 22px;
}
.left .txt input{
    width: 380px;
    height: 36px;
    border: 1px solid rgb(64, 2, 62);
    border-right: none;
    padding: 8px;
     
}
.left .txt .inp button{
     width: 120px;
     background-color: rgb(64, 2, 62);
     border: none;
     font-size: 18px;
     color: white;
    
}

.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(36, 19, 7);
    text-align: center;
    color: white;
    padding: 44px;
}
.card .crd img{
    width: 230px;
    height: 250px;
}
.rest{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(115,1, 92);
}
.rest img{
    width: 32%;
}
.rest .text{
    margin-top: 84px;
    color: white;
}
.rest .text h1{
    font-size: 44px;
    color: white;
}
.rest .text p{
    margin-top: 11px;
    color: white;   
}
.rest .text img{
    margin-top: 22px;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 44px;
}
.footer .list {
    margin-inline: 33px;
}
.footer .list img{
    width: 53%;
    border: 2px solid white;
    border-radius: 4px;
    margin-top: 11px;
}